extends layout 
link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
block content
  .img-container(ng-controller="noteController")
    .row.nav
        ul.col-sm-12
          li.inline.col-sm-1  LOGO
          li(onClick="javascript:location.href = '##how';").inline.col-sm-1  How? 
          li(onClick="javascript:location.href = '##why';").inline.col-sm-1  Why? 
          li(onClick="javascript:location.href = '##pricing';").inline.col-sm-1  Pricing 

          a(href="payment")
            li.inline.col-sm-3  Send a Note! 
      .row
        .col-sm-12.spacer
      .row
        .col-sm-offset-2.col-sm-4.title
          p  Stand 
          p  Out 
      .row
        .col-sm-offset-2.col-sm-4.subtitle
          p  We send beautiful handwritten notes.
          p  You take the credit. 
  .row.info
      .col-sm-12
        p
          | Others text, tweet, and email. Be remembered with a handwritten note.
          br
          | 				It's the small touches that make a big difference. That really ring home.
          br
          | 				Let us help you make a difference with a handwritten note.
    .row#how
      .col-sm-12
        h2  How does it work? 
    .explainer
      .row.explainer-margin-1
        .col-sm-offset-3.col-sm-3
          p.write  Write 
          p  Send us your message! We'll get scribing. 
          p
        .icon.col-sm-offset-1.col-sm-1
          i.fa.fa-pencil
      .row.explainer-margin
        .icon.col-sm-offset-3.col-sm-1
          i.fa.fa-envelope
        .col-sm-offset-3.col-sm-4
          p.send  We Post It 
          p  We'll send it out on specialty paper and a high-grade envelope.
          p
      .row.explainer-margin
        .col-sm-offset-3.col-sm-3
          p.send  Respect 
          p  Sleep well knowing the recipient knows you care. 
          p
        .icon.col-sm-offset-1.col-sm-1
          i.fa.fa-heart
   #why
    .row#why-space
      .col-sm-12
   .why
      .row.why-title
        .col-sm-12
          h2  Why? 
      .row
        .col-sm-6.img-container-2
        .col-sm-6.info
          p
            | We know what you're thinking. Why bother? Is it really worth it? In short, yes. We can guarantee you that these notes will be read and remembered.
            br
            |         It's so rare that someone goes out of their way to help these days.
            br
            | 				Be one of the few. 
            br
            |         Show you care with a Nice Note.
    .pricing-container
      .row#pricing
        .col-sm-12
          h2  Pricing 
          h3  I need to send a: 
      .row.button-margin
        .col-sm-12.pricing
          li.note-button.inline  Note 
          li.letter-button.inline  Letter 
      .note-display.center
        //- Icons
        .row
          .col-sm-4.icon-2
            i.fa.fa-eur
          .col-sm-4.icon-2
            i.fa.fa-fighter-jet
          .col-sm-4.icon-2
            i.fa.fa-certificate
            i.fa.fa-certificate
            i.fa.fa-certificate
        //- Row 1
        .row.center
          .col-sm-4
            h3  Flat Price - €3/€4
            br
            p.size
              | Just €3 to send a note! 
              strong  Up to 60 words. 
              br
              | Just €4 to send a letter! 
              strong  Up to 250 words. 
              | 
          .col-sm-4
            h3  Fast Turnaround
            br
            p.size  We waste no time! All notes will be sent within 1 working day.
            p
          .col-sm-4
            h3  Speciality Paper and Envelope
            br
            p.size
              | We buy high grade envelopes and paper - but not over the top. They suit any occassion.
        //- Row 2
        .row.center
          .col-sm-4.icon-2
            i.fa.fa-lock
          .col-sm-4.icon-2
            i.fa.fa-times
          .col-sm-4.icon-2
            i.fa.fa-camera-retro
        .row
          .col-sm-4
            h3  Confidential 
            br
            p.size
              | All notes are 100% confidential. They are deleted from our database once sent.
          .col-sm-4
            h3.brand-profile-header  No Branding
            br
            p.size
              | Our paper and envelopes have no branding -they are simply quality all the way through.
          .col-sm-4
            h3  Photograph of Note 
            br
            p.size  We'll send you a photograph of the note once it has been sent. 
      .letter-display.center
        //- Row Icons 1
        .row
          .col-sm-4.icon-2
            i.fa.fa-eur
          .col-sm-4.icon-2
            i.fa.fa-fighter-jet
          .col-sm-4.icon-2
            i.fa.fa-certificate
            i.fa.fa-certificate
            i.fa.fa-certificate
        //- Row Text 1
        .row.center
          .col-sm-4
            h3  Flat Price - €4
            br
            p.size
              | Just €4 to send a letter! 
              strong  Up to 250 words 
              | .
          .col-sm-4
            h3  Fast Turnaround
            br
            p.size  All letters will be sent within 1 working day.
            p
          .col-sm-4
            h3  Speciality Paper and Envelope
            br
            p.size
              | We buy high grade envelopes and paper - but not over the top. They suit any occassion.
         //- Row Icons 2
        .row.center
          .col-sm-4.icon-2
            i.fa.fa-lock
          .col-sm-4.icon-2
            i.fa.fa-times
          .col-sm-4.icon-2
            i.fa.fa-camera-retro
        //- Row Text 2
        .row
          .col-sm-4
            h3  Confidential 
            br
            p.size
              | All letters are 100% confidential. They are deleted from our database once sent.
          .col-sm-4
            h3.brand-profile-header  No Branding
            br
            p.size
              | Our paper and envelopes have no branding, and are simply quality all the way through.
          .col-sm-4
            h3  Photograph of Letter 
            br
            p.size  We'll send you a photograph of the letter once it has been sent. 
    .row
      .col-sm-12
        .border
        h2  Send A Note Now! 
        h3.send-margin  Have your mail on its way in minutes! 
        div
        .row.center
          .col-sm-12
            button.send-button.send-margin-2(type='button')
               a(href="payment") Send a note now!
            .border-2
        footer
          p   p © 2015 Nice Notes  ||  nicenoteshq@gmail.com
       
  link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")