extends layout

block content
  div(ng-view)
  div(ng-controller="noteController")

    .row.nav-2
    ul.col-sm-12
      li.inline.col-sm-1 
       a(href="/") Home
    .row
      .col-sm-12.spacer-3
    .row
      .col-sm-12
        h2.payment-title  Send a Note! 
    .row
      .col-sm-12.spacer-4
        h3.payment-subtitle
          | Make a difference in someone's life today - send a beautiful handrwitten note with the click of a button!
    //- ENTER NAME OF RECIPIENT
    .row.margin-name
      .col-sm-offset-3.col-sm-4
        form(ng-submit="addNote()")
         input#the-note.form-control(type='text', placeholder='Please enter recipient name' ng-model="newNote.receiveName")
        //- NOTE FOR RECIPIENT
        .spacer-small
        .row
          .col-sm-offset-3.col-sm-8
          textarea.form-control(rows='10', placeholder='Enter your note here' ng-model="newNote.note")
        .row
          .col-sm-2
          //- a(href="##bottom")
          input.btn.btn-primary.btn-lg(type="submit" ng-click="addNote()" value="Next" onClick="javascript:location.href = '##next';") 

    //- RECIPIENT Details - This to only show when NEXT is clicked
    //- this spacer to be deleted
    .spacer-3
    .spacer-3
    a(id="#next")
    .spacer-3

    .row
      .col-sm-offset-3.col-sm-6
        form.form-horizontal
          .form-group
            label.col-sm-2.control-label(for='') Address 1
            .col-sm-10
              input#inputEmail3.form-control(type='text', placeholder='Address 1')
          .form-group
            label.col-sm-2.control-label(for='') Address 2
            .col-sm-10
              input#inputPassword3.form-control(type='text', placeholder='Address 2')
          .form-group
            label.col-sm-2.control-label(for='') City
            .col-sm-10
              input#inputPassword3.form-control(type='text', placeholder='City')
          .form-group
            label.col-sm-2.control-label(for='') County
            .col-sm-10
              input#inputPassword3.form-control(type='text', placeholder='County')
          .form-group
            label.col-sm-2.control-label(for='') Post Code
            .col-sm-2
              input#inputPassword3.form-control(type='text', placeholder='Post Code')
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-primary.btn-lg(type='submit' ng-click="goDownAgain()" onClick="javascript:location.href = '##next-2';") Next
    //- SENDER Details - This to only show when NEXT is clicked
    //- Address may be optional for SENDER
    //- this spacer to be deleted
    .spacer-3
    .spacer-3
    .spacer-3
    .spacer-3
    .spacer-3a(id="#next-2")
    .spacer-3
    .row
      .col-sm-offset-3.col-sm-6
        form.form-horizontal
          .form-group
            label.col-sm-2.control-label(for='') Your Name
            .col-sm-10
              input#inputEmail3.form-control(type='text', placeholder='First + Last Name')
          .form-group
            label.col-sm-2.control-label(for='') Your Email
            .col-sm-10
              input#inputEmail3.form-control(type='email', placeholder='Your email address')
          //- .form-group
          //-   label.col-sm-2.control-label(for='') Address 1
          //-   .col-sm-10
          //-     input#inputEmail3.form-control(type='text', placeholder='Address 1')
          //- .form-group
          //-   label.col-sm-2.control-label(for='') Address 2
          //-   .col-sm-10
          //-     input#inputPassword3.form-control(type='text', placeholder='Address 2')
          //- .form-group
          //-   label.col-sm-2.control-label(for='') City
          //-   .col-sm-10
          //-     input#inputPassword3.form-control(type='text', placeholder='City')
          //- .form-group
          //-   label.col-sm-2.control-label(for='') County
          //-   .col-sm-10
          //-     input#inputPassword3.form-control(type='text', placeholder='County')
          //- .form-group
          //-   label.col-sm-2.control-label(for='') Post Code
          //-   .col-sm-2
              input#inputPassword3.form-control(type='text', placeholder='Post Code')
          //- .form-group
          //-   .col-sm-offset-2.col-sm-10
         //-     button.btn.btn-primary.btn-lg(type='submit') Next
    .row
      .col-sm-offset-4.col-sm-3
        //- form(action='', method='POST')
        //-   script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key='pk_test_2ULIWVo2R6Tjd5MckkZ6aS7R', data-amount='2000', data-name='Demo Site', data-description='2 widgets ($20.00)', data-image='/128x128.png', data-locale='auto')
    .spacer-3
    .spacer-3
    .spacer-3
    .spacer-3
    footer
        p  2015 Nice Notes 