h2, h3, h4, h5, .pricing, .center{
text-align: center;
}

body {
	font-family: 'lato';
}

.inline {
	list-style: none;
	display: inline-block;
}

.nav {
	color: white !important;
	font-size: 25px;
}

.img-container {
	background-image: url("hero-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
}

.spacer {
	height: 270px;
}

.title {
	font-size: 80px;
	line-height: .9;
	color: #0d7087;
}

.subtitle {
	color: white;
	font-size: 20px;
}


/*************** Bottom of fold ***********/
.info {
	text-align: center;
	font-size: 20px;
	height: 200px;
	padding-top: 40px;

}

/************** Explainer **********/
.explainer {
	font-size: 20px;
}

.write, .send, .love {
	font-weight: bold;
	font-size: 26px;
}

.icon {
	font-size: 4em;
	color: #0d7087;
}

.explainer-margin-1 {
	margin-top: 20px;
	margin-bottom: 70px;
}
.explainer-margin {
	margin-top: 70px;
	margin-bottom: 70px;
}

body {
	background-color: #f4f1ed/*cream*/;
}
/************** Why? **********/
.why {
	margin-bottom: 100px;
}

#why-space {
	height:45px;
}
.why-title {
	margin-bottom: 30px;
}
.img-container-2 {
	background-image: url("letter-2.jpg");
	background-size: cover;
	height: 350px;
}

/************** Buttons **********/

.note-button {
	padding: 15px 35px;
	border: 2px solid #0d7087;
	margin-right: -5px;
	border-radius: 8px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	background-color: #0d7087;
	font-size: 22px;

}

.letter-button {
	padding:  15px 35px;
	border: 2px solid #0d7087;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	font-weight: bold;
	font-size: 22px;
	color: #0d7087;
}

.button-margin {
	margin-bottom: 50px;
}

/************** Icons **********/

.icon-2 {
	font-size: 2.4em;
}

.letter-display {
	display: none;
}
/************** Prcing text **********/

.pricing-container {
	margin-bottom: 40px;
}
.size {
	font-size: 18px;
}
/************** Send now **********/
.border {
	border-top: 1px solid gray;
}
.border-2 {
	border-bottom: 1px solid gray;
}

.send-margin {
	margin-bottom: 30px;
}

.send-margin-2 {
	margin-bottom: 50px;
}
.send-button {
	padding: 15px 35px;
	margin-right: -5px;
	color: white;
	text-decoration: none;
	font-size: 24px;
	background-color: #0d7087;
	box-shadow: none;
	border: none;
}

/************** Footer **********/
footer {
	height: 100px;
	text-align: center;
	line-height: 100px;
	vertical-align: middle;
}

/*********************************
 			Payment Page 
**********************************/

/******* Next Button ********/

#first-button {
	margin-left: -62px;
}

/******* Next Button ********/

#the-note {
	margin-left: -13px;
}


.nav-2 {
	color: gray;
	font-size: 25px;
}

.payment-title {
	color: #0d7087;
}

.payment-subtitle {
	margin: 0 auto;
	color: #0d7087;
	width: 700px;
}

.spacer-3 {
	height: 70px; 
}

.spacer-small {
	height: 10px; 
}

.spacer-4 {
	margin-bottom: 50px; 
}

.margin-name {
	margin-bottom: 20px;
}

.btn.btn-primary {
	width: 90px;
	margin-top: 8px;
}

.last-button {
	margin-left: 17px;
}
/**** for anchors *****/
a:visited {
	color: white !important;
}

a:active {
	color: white !important;
}

#navHov:hover {
	text-decoration: underline;
}

/******* for credit cards ********/

.card {
	font-size: 2em;
}

.card-logos {
	width: 40%;
	margin: 0 auto;
	padding-left: 10%;
}

.stripe {
	margin-bottom: 10px;
}
/******* PAY BOX ********/

#box {
	height: 250px;
	padding-left: 2.5%;
	width: 48%;
	background-color: white;
	-moz-box-shadow:     0 0 5px #000000;
    -webkit-box-shadow:  0 0 5px #000000;
    box-shadow:          0 0 5px #000000;
}

.move-button {
	margin-bottom: 20px;
}

/******* payment ********/

@media (max-width: 768px) {
.col-sm-5 {
    margin-left: 30%;
    width: 100%;
	}
}

#pay-now {
	text-decoration: underline;
	color: #0d7087;
	margin-bottom: 20px;
}
.send-note {
	margin-bottom: 50px;
}

#home {
	background-color: #0d7087;
	font-size: 25px;
	width: 100px;
}

.payment-size {
	font-size: 18px;
}
/******* check ********/
.fa-check {
	color: green;
}
